@import "tailwindcss";

.flex-container{
    display: grid;
    flex-direction: column;
    color:blue;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.arr{
    color:white;
    position: relative;
    left: 87%;
    top:46.5%;
}
.b1, .b2, .b3, .b4{
    height: 97.5vh;
    
    border-right: 0.05rem solid white;
    border-color: white;
    border-width: 0.025rem;
    transition: 0.3s;
}
.circle{
    background-color:black;
    width: 30px;
    height: 30px;
    position: relative;
    left: 85%;
    top:50%;
    border: 1px solid white;
    border-radius: 50%;
}

.b1:hover, .b2:hover, .b3:hover, .b4:hover{
    .arr{
        color:white;
        position: relative;
        left: 87%;
        top:46.5%;
        rotate: -45deg;
    }
    background-color: white;
    

}


